<section id="contact-me">
  <div
    class="line mt-8 lg:w-[90%] w-[90%] mx-4 md:mx-10 lg:mx-16 bg-violet-400 h-[1px]"
  >
  </div>
  <h1 class="mt-6 text-2xl flex justify-center">Contact Me 🚀</h1>

  <div
    class="container grid gap-4 mt-4 p-4 lg:mx-8 md:grid md:grid-cols-2 md:gap-8 lg:place-items-center md:place-items-center"
  >
    <input
      required
      type="text"
      placeholder="Your Name"
      class="border-b bg-gray-900 border-violet-400 focus:border-cyan-300 focus:outline-none mb-4 placeholder:opacity-50"
    />
    <input
      required
      type="email"
      placeholder="Your Email"
      class="border-b bg-gray-900 border-violet-400 focus:border-cyan-300 focus:outline-none mb-4 placeholder:opacity-50"
    />
    <input
      required
      type="text"
      placeholder="Subject"
      class="border-b bg-gray-900 border-violet-400 focus:border-cyan-300 focus:outline-none mb-4 placeholder:opacity-50"
    />
    <textarea
      placeholder="Message"
      class="border-b bg-gray-900 border-violet-400 focus:border-cyan-300 focus:outline-none mb-4 placeholder:opacity-50"
    ></textarea>
    <input
      required
      type="button"
      value="Send Message!"
      class="w-[90%] m-4 md:flex hover:cursor-pointer md:justify-center md:w-1/2 md:col-span-2 mb-4 bg-violet-700 hover:bg-violet-900 hover:text-white px-4 py-2 rounded"
    />
  </div>
</section>
