<section id="projects">
  <div
    class="line mt-8 lg:w-[90%] w-[90%] mx-4 md:mx-10 lg:mx-16 bg-violet-400 h-[1px]"
  >
  </div>
  <h1 class="mt-6 mb-4 text-2xl flex justify-center">Projects 🎨</h1>

  <div
    class="projects md:mt-8 grid gap-8 md:grid-flow-row md:grid-rows-1 md:grid-cols-2 grid-cols-1 place-items-center"
  >
    <div
      class="project-item grid gap-4 w-[90%] md:h-[300px] rounded-lg drop-shadow-md mx-4 p-4 bg-gray-950"
    >
      <div class="top mx-2 items-center flex justify-between">
        <div class="title text-cyan-400 hover:cursor hover:text-cyan-600">
          <a href="https://github.com/BitBrigade/Tim-E-Scape">Tim-E-Scape</a>
        </div>
        <div class="img">
          <img
            class="w-20 md:w-35 lg:w-40"
            src="https://github.com/amitsuthar69/Portfolio/blob/main/src/images/Time-Escape.png?raw=true"
            alt="project-img"
          />
        </div>
      </div>

      <div class="des text-justify">
        This Game was a group submission for gamedev.js jam 2023. The game is
        written in the Phasor game engine and is licensed under the GNU License.
        The repository contains the game's source code, assets, and
        documentation.
      </div>
    </div>

    <div
      class="project-item lg:h-[300px] grid gap-4 w-[90%] rounded-lg drop-shadow-md mx-4 p-4 bg-gray-950"
    >
      <div class="top mx-4 flex items-center justify-between">
        <div class="title text-cyan-400 hover:cursor hover:text-cyan-600">
          <a href="https://github.com/amitsuthar69/MysteryNum">MysteryNum</a>
        </div>
        <div class="img">
          <img
            class="w-20 md:w-35 lg:w-40"
            src="https://github.com/amitsuthar69/Portfolio/blob/main/src/images/MysteryNum.png?raw=true"
            alt="project-img"
          />
        </div>
      </div>
      <div class="des text-justify">
        MysteryNum is a number guessing game built using JavaScript and
        HTML/CSS. In this game, the player has to guess a randomly generated
        secret number. Find the correct number before the computer finds it. The
        guesses made by the computer are not random but smart.
      </div>
    </div>

    <div
      class="project-item md:hidden md:h-[300px] grid gap-4 rounded-lg drop-shadow-md mx-4 p-4 bg-gray-950"
    >
      <div class="top mx-4 flex items-center justify-between">
        <div class="title text-cyan-400 hover:cursor hover:text-cyan-600">
          <a href="https://github.com/amitsuthar69/Login-and-SignUp-Page"
            >Sign-Up Page</a
          >
        </div>
        <div class="img">
          <img
            class="w-20"
            src="https://github.com/amitsuthar69/Portfolio/blob/main/src/images/login.png?raw=true"
            alt="project-img"
          />
        </div>
      </div>
      <div class="des text-justify">
        Responsive Sign Up and Login page, with NavBar and a Contact page made
        with HTML & CSS.
      </div>
    </div>
  </div>
  <p class="text-cyan-400 hover:cursor text-center mt-6 hover:text-cyan-600">
    <a href="https://github.com/amitsuthar69?tab=repositories">See More...</a>
  </p>
</section>
