@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html.dark {
    @apply brightness-[0.98];
  }
  body {
    @apply antialiased bg-theme-50 font-primary text-theme-700 dark:bg-theme-900 dark:text-theme-200;
  }
  .layout {
    @apply mx-auto w-[86%] max-w-2xl md:w-full;
  }
  h1 {
    @apply text-3xl font-bold text-theme-800 dark:text-theme-100 md:text-4xl;
  }

  h2 {
    @apply text-2xl font-bold text-theme-800 dark:text-theme-100 md:text-3xl;
  }

  h3 {
    @apply text-lg font-bold text-theme-800 dark:text-theme-100 md:text-xl;
  }

  h4 {
    @apply font-bold text-theme-800 dark:text-theme-100 md:text-lg;
  }

  h5 {
    @apply font-bold text-theme-800 dark:text-theme-100 md:text-lg;
  }
  :is(a, button) {
    @apply outline-none;
  }

  :is(a, button) {
    @apply transition-all outline-none ring-primary-500 ring-offset-1 ring-offset-theme-50 focus-visible:ring dark:ring-primary-400 dark:ring-offset-theme-900;
  }

  .accessible {
    @apply transition-all duration-150 ring-primary-400 hover:ring dark:ring-theme-600;
  }

  .underLine {
    @apply items-center h-0 border-t md:flex md:justify-between border-theme-600;
  }

  .pattern {
    opacity: 1;
    background-image: linear-gradient(135deg, white 25%, transparent 25%),
      linear-gradient(225deg, white 25%, transparent 25%),
      linear-gradient(45deg, white 25%, transparent 25%),
      linear-gradient(315deg, white 25%, blue 25%);
    background-position: 19px 0, 19px 0, 0 0, 0 0;
    background-size: 40px 40px;
    background-repeat: repeat;
    height: 10rem;
  }
}
